* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left {
  border: 1px solid rgb(147, 133, 133);
  flex: 1;
  padding: 16px 32px;
  box-shadow:0 0 7px black;
  margin-bottom: 60px;
}
.image_name {
  position: relative;
}
.name {
  position: absolute;
  top: 85%;
  left: 2.5%;
  font-size: 180%;
}
.info p,
.skills p,
.lang p {
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.8);
}
.info,
.skills,
.lang {
  width: 100%;
  padding: 8px 16px 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.grey {
  width: 90%;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.green1,
.green2,
.green3,
.green4 {
  border-radius: 10px;
  background-color: #009688;
  text-align: center;
  color: white;
}
.green1 {
  width: 90%;
}
.green2 {
  width: 80%;
}
.green3 {
  width: 75%;
}
.green4 {
  width: 50%;
}
.right{
  border: 1px solid rgb(147, 133, 133);
  margin-left:10px;
  box-shadow:0 0 10px black;
  flex: 6;
}
.cont1 {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cont1 p,
.cont1 h4 {
  padding: 8px 16px;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #009688;
  color: white;
  padding: 8px 16px;
  margin-top: 15px;
}

.logos i {
  padding: 8px 8px;
}
footer .p {
  padding: 16px 16px;
}
.bottom{
  border:1px solid rgb(235, 227, 227);
  margin-top: 20px;
  box-shadow:0 0 6px black;
}
.top{
  border:1px solid rgb(235, 227, 227);
  box-shadow:0 0 6px black;
}


